


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Employees</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Employees

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row" class="row bg-light m-3 shadow p-3 mb-5 bg-body rounded">


<form class="row g-3" [formGroup]="formdata" (ngSubmit)="showdata(formdata.value)">
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Name</label>
    <input type="text" formControlName="name" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Code</label>
    <input type="password" formControlName="code" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Gender</label>
    <select id="inputState" formControlName="gender" class="form-select">
      <option selected>Choose...</option>
      <option value="male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Email</label>
    <input type="email" formControlName="email" class="form-control" id="inputAddress2" placeholder="">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Mobaile No</label>
    <input type="text" formControlName="mobileno" class="form-control" id="inputCity">
  </div>

  <div class="col-md-2">
    <label for="inputZip" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="inputZip">
  </div>

  <div class="col-12">
    <button style="box-shadow: 1px 1px 2px black;" type="submit"  class="btn btn-primary">Sign in</button>
  </div>
</form>
</div>
<br>
<br>
<br>
<br>

<hr>
<table class="demo table">
  <tr border="1">
    <th>sr.no</th>
    <th>name</th>
    <th>code</th>
    <th>gender</th>
    <th>email</th>
    <th>mobaileno</th>
    <th>password</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let setform  of setforms;let i = index">
    <td>{{i + 1}}</td>
    <td>{{setform.name}}</td>
    <td>{{setform.code}}</td>
    <td>{{setform.gender}}</td>
    <td>{{setform.email}}</td>
    <td>{{setform.mobileno}}</td>
    <td>{{setform.password}}</td>
   <td>
    <button style="box-shadow: 1px 1px 2px black;" type="submit" (click)="Edit(setform.id)"  class="btn btn-primary">Edit</button>

    <button style="box-shadow: 1px 1px 2px black;" type="submit"  (click)="Delete(setform.id)"  class="btn btn-primary">Delete</button>
  </td>


  </tr>

</table>


  </section>
</main>

