<main id="main" class="main">

  <div class="pagetitle">
    <h1>Employees</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Employees

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row" class="row bg-light m-3 shadow p-3 mb-5 bg-body rounded">





<table class="table table-danger text-center shadow p-3 mb-5 bg-body rounded">
  <tr>
    <th>sr.no</th>
    <th>employeeid</th>
    <th>project</th>
    <th>projectmodule</th>
    <th>projecttasks</th>
    <th>stetus</th>
    <th>progress</th>

  </tr>
  <tr *ngFor="let mytask  of mytasks ;let i = index">
    <td>{{i + 1}}</td>
    <td>{{mytask.employeeid}}</td>
    <td>{{mytask.project.name}}</td>
    <td>{{mytask.module.name}}</td>
    <td>{{mytask. task}}</td>
    <td>{{mytask.stetus}}</td>
    <td>
      <button style="box-shadow: 1px 1px 2px black;" [hidden] *ngIf="mytask.stetus != 'Pending'" type="submit" (click)="open(mytask.id)"  class="btn btn-primary">open</button>

      <button style="box-shadow: 1px 1px 2px black;" [hidden] *ngIf="mytask.stetus != 'Completed'" type="submit"  (click)="close(mytask.id)"  class="btn btn-danger">close</button>


    </td>




   <td>

  </td>


  </tr>

</table>

</div>


  </section>
</main>


